  footer.footer{
    text-align: center;
    padding-top: 80vh;
    padding-bottom: 20vh;
    font-size: 80%;
    a{
      text-decoration: none;
      color: white;
      }
    .colophon {
      background-color: rgba(0,0,0,0.5);
      padding: 0.5em 0;
      b{
        color: red;
      }
    }
  }