header[role=banner]{
  border-bottom: 1px solid black;
  @include abst_padding;
  background-color: rgba(255,255,255, 0.8);
  margin-bottom: $abst_u;
  
  .bannavi{
    font-size: 80%;
  }
  &:hover{
    background-color: rgba(255,255,255, 1);
  }
}

.banpageinfo span{
  
}