// ---------------------------------------------------- Header
header[role=banner]{
  border-bottom: 1px solid black;
  @include abst_padding;
  background-color: transparent;
  a, a:visited{
    color: rgba(255,255,255, 0.9);
  }
  color: rgba(255,255,255, 0.9);
  
  .bannavi{
    font-size: 80%;
  }
  
  li{
    @include abst_padding;
    display: inline-block;
    
    &:hover{
      text-decoration: underline;
    }
    
     li a{
      font-size: 75%;
      padding: 0;
    }
  }
}

.banpageinfo span{
  margin-left: $abst_l;
}


// ---------------------------------------------------- Main

article{
  background-color: white;
  
  header{
    p{
      font-size: 80%;
    }
  }
}